[MAIN]
# Specify a score threshold under which the program will exit with error.
fail-under=9.5

# Return non-zero exit code if any of these messages/categories are detected,
# even if score is above --fail-under value. Syntax same as enable. Messages
# specified are enabled, while categories only check already-enabled messages.
fail-on=F,E,W, 

# Whitelist pydantic extension
# https://github.com/pydantic/pydantic/issues/1961
extension-pkg-allow-list=pydantic

ignore-patterns=(.)*_test\.py,test_(.)*\.py

[LOGGING]
logging-format-style=new

[pylint.FORMAT]
disable=logging-fstring-interpolation

[TYPECHECK]
ignored-modules=cv2

[MESSAGES CONTROL]
disable=import-error

[SIMILARITIES]
min-similarity-lines=10

[FORMAT]
max-line-length=120
good-names=i,j,k,id