[Unit]
Description=rclone upload service
#After=default.target

[Service]
Type=simple
Restart=always
ExecStart=%h/boothupload.sh

[Install]
WantedBy=default.target

## enable service and autostart on system startup:
#1 copy file to ~/.config/systemd/user/  (directories might need to be created!)
#2 systemctl --user enable boothupload.service
## start service manually:
#systemctl --user start boothupload
