[Unit]
Description=Photobooth Imageserver
After=multi-user.target

[Service]
Type=simple
Restart=always
#Adjust following line if necessary: WordkingDirectory=PATH_TO_YOUR_imageserver.py_FILE
WordkingDirectory=/home/pi/imageserver/
ExecStart=/usr/bin/python -O imageserver.py

[Install]
WantedBy=multi-user.target

## enable service and autostart on system startup:
#1 sudo cp ~/imageserver/imageserver.service /etc/systemd/system/
#2 sudo systemctl enable imageserver.service
#3 sudo systemctl start imageserver.service
#4 sudo systemctl status imageserver.service