[Unit]
Description=Photobooth Imageserver
After=multi-user.target

[Service]
Type=simple
Restart=always
#Adjust following line if necessary: ExecStart=/usr/bin/python3 PATH_TO_YOUR_imageserver.py_FILE
ExecStart=/usr/bin/python3 /home/pi/imageserver/imageserver.py

[Install]
WantedBy=multi-user.target

## enable service and autostart on system startup:
#1 copy imageserver.service to /etc/systemd/system/
#2 sudo systemctl enable imageserver.service
## start/stop/status service:
# sudo systemctl start application