fastapi==0.89.1
googlemaps==4.7.3
gpiozero==1.6.2
keyboard==0.13.5
opencv_python==4.6.0.66
picamera2==0.3.7
piexif==1.1.3
Pillow==9.4.0
psutil==5.9.4
pydantic==1.10.2
pymitter==0.4.0
pytest==7.2.0
PyTurboJPEG==1.7.0
pywifi==1.1.12
requests==2.28.1
rpi_ws281x==4.3.4
sse_starlette==1.2.1
starlette==0.23.1
transitions==0.9.0
uvicorn==0.20.0
v4l2py==0.6.2
pydantic[dotenv]