name: benchmarks

# coverage is made up by multiple runs on different hosts
# self-hosted is a RPI and has hardware attached to test and gain high coverage
# after all jobs finished, coverage is uploaded as described here
# https://about.codecov.io/blog/uploading-code-coverage-in-a-separate-job-on-github-actions/

on:
  workflow_dispatch:
    
permissions:
  contents: read

jobs:
  tests:
    env:
      NUMBA_DEBUG: "0"
    runs-on: ubuntu-latest
    continue-on-error: false
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python and uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: '3.13'
          enable-cache: true
      - name: Install system apt dependencies
        run: |
          sudo apt update
          sudo apt -y install libturbojpeg python3-pip libgl1 git libcap-dev
          sudo apt -y install ffmpeg
      - name: install the project
        run: |
          uv sync --all-extras --dev
      - name: Run pytest
        run: |
          uv run pytest --basetemp=./tests_tmp/ -v ./src/tests/benchmarks
          
          

  tests-hardware-rpi:
    env:
      # use system python to allow for picamera2 to import
      UV_PYTHON: 3.13
      UV_PYTHON_PREFERENCE: only-system
      NUMBA_DEBUG: "0"

    runs-on: [self-hosted, rpi]
    if: ${{ github.repository_owner == 'photobooth-app' }}

    steps:
      - uses: actions/checkout@v6
      - run: uv venv --system-site-packages
      - run: uv sync # install in-project env

      - name: Test with pytest
        run: |
          uv run pytest --basetemp=./tests_tmp/ -v ./src/tests/benchmarks

