name: Pyright static type checking

on: 
  [push, pull_request]


jobs:
  type-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python and uv
        uses: astral-sh/setup-uv@v5
        with:
          python-version: '3.13'
          enable-cache: true
      - name: Install Node.js (needed for Pyright)
        uses: actions/setup-node@v4
        with:
          node-version: current

      - name: install the project
        run: |
          uv sync --all-extras --dev
          
      - name: Run Pyright static type checker
        run: |
          uv run pyright
      